{% extends "base.html" %}

{% block extrastyle %}
<style>
label { width: 100%; }
.topmargin { margin-top: 1rem; }
ul { padding: 0; list-style: none; color: #555; }
</style>
{% endblock %}

{% block content %}
<h1>Modification du mot de passe</h1>

<p>Pour des raisons de sécurité, saisissez votre ancien mot de passe puis votre nouveau mot de passe à deux reprises afin de vérifier qu'il est correctement saisi.</p>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        {{ field }}
        {{ field.help_text }}
    {% endfor %}
    <div class="row topmargin">
        <button class="btn btn-outline-primary btn-sm" type="submit">Modifier le mot de passe</button>
    </div>
</form>
{% endblock %}
