{% extends "base.html" %}

{% block boutons_droite %}
<div class="topnav-right text-start float-end">
    <form method="get" action=".">
        <div class="float-start input-group ms-1 mt-2" style="width:16em;">
            {{ form.nom }}
            <button class="px-2" type="submit" title="Rechercher">
                <img src="{% static 'admin/img/search.svg' %}">
            </button>
            <button id="reset-button" class="ms-1" type="reset" title="Réinitialiser tous les filtres">
                <img src="{% static 'img/filter_off.svg' %}">
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Familles AMF</p></div>
        <div class="col text-end" >
            <!--a class="btn btn-sm btn-outline-primary" href="{% url 'amf-famille-list' %}">Liste</a-->
            {% if perms.amf.add_familleamf %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'amf-famille-add' %}">Nouvelle famille</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="benef_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                    {% for label in labels %}
                        <th>{{ label }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for famille in object_list %}
                        {% with suivi=famille.suivi %}
                        <tr data-statut="{{ suivi.etape.code }}">
                            {% for col_key in col_keys %}
                            {% if col_key == 'nom' %}
                                <td>
                                    <div>
                                        <a href="{% url 'amf-famille-edit' famille.pk %}" title="Suivi">{{ famille.nom }}</a>
                                        <span class="hoverimage">
                                            <a class="btn btn-sm m-0 p-0" role="button"
                                               href="{% url 'amf-famille-edit' famille.pk %}"
                                               title="{{ famille.telephone }}">
                                                <img src="{% static 'img/coordonnees.gif' %}" width="15" height="15">
                                            </a>
                                        </span>
                                    </div>
                                </td>
                            {% elif col_key == 'localite' %}
                                <td>{{ famille.npa}} {{ famille.localite }}</td>
                            {% elif col_key == 'prioritaire' %}
                                <td class="text-center">{{ suivi.demande_prioritaire|yesno:'Oui,' }}</td>
                            {% elif col_key == 'autorisation' %}
                                <td>{{ suivi.get_autorisation_display }}</td>
                            {% elif col_key == 'date_contact1' %}
                                <td data-sort="{{ suivi.date_contact1|date:'Ymd' }}">
                                    {{ suivi.date_contact1|date:"d.m.Y"|default:"-" }}
                                </td>
                            {% elif col_key == 'date_entretien1' %}
                                <td data-sort="{{ suivi.date_entretien1|date:'Ymd' }}">
                                    {{ suivi.date_entretien1|date:"d.m.Y"|default:"-" }}
                                </td>
                            {% elif col_key == 'date_demande_spaj' %}
                            <td data-sort="{{ suivi.date_demande_spaj|date:'Ymd' }}">
                                {{ suivi.date_demande_spaj|date:"d.m.Y"|default:"-" }}
                            </td>
                            {% elif col_key == 'date_autorisation' %}
                                <td data-sort="{{ date_autorisation.date_demande_spaj|date:'Ymd' }}">
                                    {{ suivi.date_autorisation|date:"d.m.Y"|default:"-" }}
                                </td>
                            {% elif col_key == 'date_fin_accueil' %}
                                <td data-sort="{{ suivi.date_fin_accueil|date:'Ymd' }}">
                                    {{ suivi.date_fin_accueil|date:"d.m.Y"|default:"-" }}
                                </td>
                            {% elif col_key == 'referent_famille' %}
                                <td data-sort="{{ suivi.referent_famille }}">
                                    {{ suivi.referent_famille|default:"-" }}
                                </td>
                            {% elif col_key == 'places_accueil_dispo' %}
                                <td data-sort="{{ suivi.places_accueil_dispo }}">
                                    {{ suivi.places_accueil_dispo|default:"-" }}
                                </td>
                            {% elif col_key == 'enfants_souhaites' %}
                                <td data-sort="{{ suivi.enfants_souhaites }}">
                                    {{ suivi.enfants_souhaites|default:"-" }}
                                </td>
                            {% elif col_key == 'region' %}
                                <td>{{ famille.region.nom }}</td>
                            {% elif col_key == 'evaluation' %}
                                {% if suivi.date_fin_evaluation %}<td class="green">Terminée le {{ suivi.date_fin_evaluation }}</td>
                                {% elif suivi.date_debut_evaluation %}<td class="orange">En cours</td>
                                {% else %}<td class="red">À faire</td>{% endif %}
                            {% endif %}
                        {% endfor %}
                        </tr>
                        {% endwith %}
                    {% empty %}
                        <td colspan="8" class="bg-warning" align="center">
                            <i>Aucune famille ne correspond à votre recherche.</i>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
