<a class="btn btn-sm btn-outline-primary{% if page == 'à venir' %} active{% endif %}" href="{% url 'amf-formation-list' %}">
    Liste des formations à venir
</a>
<a class="btn btn-sm btn-outline-primary{% if page == 'passées' %} active{% endif %}" href="{% url 'amf-formation-list' %}?passées">
    Liste des formations passées
</a>
{% if perms.amf.add_formation %}
    <a class="btn btn-sm btn-outline-primary{% if page == 'nouveau' %} active{% endif %}" href="{% url 'amf-formation-add' %}">Nouvelle formation</a>
{% endif %}
