<li class="nav-item">
  <a href="{% url 'amf-famille-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Familles AMF</a>
  <a href="{% url 'amf-famille-suivis-termines' %}" class="btn btn-sm btn-outline-secondary" role="button">Suivis terminés</a>
  {% if perms.amf.view_formation %}
    <a href="{% url 'amf-formation-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Formations</a>
  {% endif %}
  {% if perms.amf.add_familleamf %}
    <a href="{% url 'amf-importation' %}" class="btn btn-sm btn-outline-secondary" role="button">Importation SPAJ</a>
  {% endif %}
  {% if perms.amf.view_amf_stats %}
    <a href="{% url 'amf-stats-familles' %}" class="btn btn-sm btn-outline-secondary" role="button">Statistiques</a>
  {% endif %}
</li>
