{% extends "base.html" %}

{% block title %}Statistiques AMF - Famille{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>{% for month in months %}<th>{{ month }}</th>{% endfor %}<th>Total</th></tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <p class="lead">Statistiques AMF</p></td>
                    </tr>
                    {% for label, line in stats.items %}
                        <tr>
                            <td>{{ label }}</td>
                            {% for month in months %}
                                <td class="num">{{ line|get_item:month|default_if_none:'-' }}</td>
                            {% endfor %}
                            <td class="num">{{ line|get_item:"total"|default_if_none:'-' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1" class="btn btn-sm btn-outline-secondary">
                    <img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"> Exporter
                </a>
            </div>
        </div>
    </div>
{% endblock %}
