{% extends "base.html" %}

{% block boutons_droite %}
    {% include './famille_boutons.html' with active='suivi' %}
{% endblock %}

{% block content %}
<div class="row border-bottom lead mt-3 mb-3">
    <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
    <div class="col text-end">Dossier de suivi</div>
</div>

<form action= "." method="post">{% csrf_token %}
    <input type="hidden" name="famille" value="{{ famille.pk }}">
    <div class="row ">
        <div class="col">
            <table class="table table-sm table-borderless border-bottom">
                <tr>
                    <th class="left-label">Enfant(s) accueilli(s)</th>
                    <td>
                        <table class="table table-sm table-hover">
                            {% for enfant in famille.membres_suivis %}
                            <tr>
                                <th width="400"><a href="{% url 'personne-edit' famille.pk enfant.pk %}">{{ enfant.nom_prenom }}</a></th>
                                <td width="100">
                                    {% if enfant.age %}{{ enfant.age|floatformat }} ans{% else %}<i>âge inconnu</i>{% endif %}
                                </td>
                                <td>{{ enfant.formation.info_scol }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.date_contact1.label }} :</div>
        <div class="col-9">{{ form.date_contact1.errors }}{{ form.date_contact1 }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.date_entretien1.label }} :</div>
        <div class="col-9">{{ form.date_entretien1.errors }}{{ form.date_entretien1 }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.date_demande_spaj.label }} :</div>
        <div class="col-9">{{ form.date_demande_spaj.errors }}{{ form.date_demande_spaj }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.autorisation.label }} :</div>
        <div class="col-9">{{ form.autorisation.errors }}{{ form.autorisation }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.date_autorisation.label }} :</div>
        <div class="col-9">{{ form.date_autorisation.errors }}{{ form.date_autorisation }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.date_fin_accueil.label }} :</div>
        <div class="col-9">{{ form.date_fin_accueil.errors }}{{ form.date_fin_accueil }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.referent_famille.label }} :</div>
        <div class="col-9">{{ form.referent_famille.errors }}{{ form.referent_famille }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.places_accueil_dispo.label }} :</div>
        <div class="col-9">{{ form.places_accueil_dispo.errors }}{{ form.places_accueil_dispo }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3 fw-bold">{{ form.enfants_souhaites.label }} :</div>
        <div class="col-9">{{ form.enfants_souhaites.errors }}{{ form.enfants_souhaites }}</div>
    </div>

    {% include 'partial_table_documents.html' %}

    {% if can_edit %}
    <div class="row">
        <div class="col">
            {% include "actions.html" %}
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}
