<li class="nav-item">
  <a href="{% url 'sof-famille-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Familles SOF</a>
</li>
<li class="nav-item">
  <a href="{% url 'sof-suivis-termines' %}" class="btn btn-sm btn-outline-secondary" role="button">Suivis terminés</a>
</li>
<li class="nav-item">
  <a href="{% url 'sof-prestation-menu' %}" class="btn btn-sm btn-outline-secondary" role="button">Prestations</a>
</li>
