<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                {% with widget=widget.subwidgets.0 %}{% include widget.template_name %}{% endwith %}
            </div>
            <div class="col-auto">semaines</div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-auto">
                {% with widget=widget.subwidgets.1 %}{% include widget.template_name %}{% endwith %}
            </div>
            <div class="col">jours</div>
        </div>
    </div>
</div>
