<input type="text" name="{{ widget.name }}" list="{{ widget.name }}_list"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
<datalist id="{{ widget.name }}_list">
{% for group_name, group_choices, group_index in widget.optgroups %}{% for option in group_choices %}
  <option>{{ option.label }}</option>{% endfor %}{% endfor %}
</datalist>
