{% extends 'agenda/agenda-public-base.html' %}

{% block subcontent %}
<form id="reservation" class="reservation-form" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    <p>Choisissez le type de consultation souhaité :</p>
    {{ wizard.form.type_app }}
</form>

<div class="smaller">
    <i>Voir aussi:
    <ul class="mt-0">
        <li><a href="https://croix-rouge-ne.ch/services/consultations-infirmieres-petite-enfance/#sommeil-consultations">Consultations et ateliers sur le sommeil du petit enfant</a></li>
        <li><a href="https://croix-rouge-ne.ch/services/consultations-infirmieres-petite-enfance/#parents-enfants">Consultations courtes sans rendez-vous</a>
        </li>
    </ul>
    </i>
</div>

{% endblock %}
