{% extends 'agenda/agenda-public-base.html' %}

{% block subcontent %}
<form id="reservation" class="reservation-form" method="post">{% csrf_token %}
    {% if message %}
        <div class="text-section">
            <p class="alert alert-info">{{ message }}</p>
        </div>
    {% endif %}

    {{ wizard.management_form }}
    {% if typ == 'tel' %}
        <p>Choisissez un rendez-vous possible pour une consultation par téléphone :</p>
    {% else %}
        <p>Choisissez un rendez-vous possible{% if form.location %} à «{{ form.location }}»{% endif %} :</p>
    {% endif %}
    {{ wizard.form.avail }}

    {% if wizard.steps.prev %}
        <button class="wizard_goto_step" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
            <img class="back_img" src="{% static 'img/back.svg' %}">{{ view.get_step_back_label }}
        </button>
    {% endif %}
</form>
{% endblock %}
