{% extends 'agenda/agenda-public-base.html' %}

{% block subcontent %}
<form id="reservation" class="reservation-form" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    
    {% if not wizard.form.date_avail %}
        <p>Malheureusement, il n’y a plus de rendez-vous disponible au cours des 4 prochaines semaines à cet endroit.</p>
    {% else %}
        <p>{{ form.prompt_string }}</p>
        {{ wizard.form.date_avail }}
    {% endif %}

    {% if wizard.steps.prev %}
        <button class="wizard_goto_step" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
            <img class="back_img" src="{% static 'img/back.svg' %}">{{ view.get_step_back_label }}
        </button>
    {% endif %}

    {% if not wizard.form.date_avail and 'téléphone' not in form.prompt_string %}
        <button class="wizard_goto_step" name="wizard_goto_step" type="submit" value="day-tel">
            <img class="back_img" src="{% static 'img/back.svg' %}">Réserver une consultation téléphonique
        </button>
    {% endif %}
</form>
{% endblock %}
