{% extends "agenda/agenda-public-base.html" %}

{% block subcontent %}

<p>Votre inscription pour le <strong>{{ event.start|date:"l j F" }} à {{ event.start|date:"H:i" }}</strong> a bien été prise en compte.</p>

<p>Une confirmation à été envoyée au numéro de téléphone ou à l'adresse courriel indiqués dans l’inscription.</p>

<p>Si vous deviez annuler ou modifier l’heure de ce rendez-vous, merci de bien vouloir utiliser le lien envoyé dans le message de confirmation ou appeler le secrétariat de la Croix-Rouge neuchâteloise au numéro 032 886 88 60.</p>

{% endblock %}
