{% extends 'agenda/agenda-public-base.html' %}

{% block subcontent %}
<form method="post" action=".">{% csrf_token %}
    <p>{{ cancel_msg }}</p>
    <div>
        <button type="submit">Oui, je le veux</button>
    </div>
</form>
{% endblock %}
