{% extends 'agenda/agenda-public-base.html' %}

{% block subcontent %}
<form id="reservation" class="reservation-form" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    <p>Choisissez un lieu :</p>
    {{ wizard.form.location }}

    <ul id="id_location-location" class="immediate-submit">
        <li><label for="id_location-location_none">
            <input type="radio" name="location-location" value="any" class="immediate-submit" id="id_location-location_none">
            Prochaines disponibilités partout dans le canton</label>
        </li>
    </ul>

    {% if wizard.steps.prev %}
        <button class="wizard_goto_step" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
            <img class="back_img" src="{% static 'img/back.svg' %}">{{ view.get_step_back_label }}
        </button>
    {% endif %}

</form>
{% endblock %}
