{% extends 'agenda/agenda-public-base.html' %}

{% block subcontent %}
<form id="reservation" class="reservation-form final-form" method="post" novalidate>{% csrf_token %}
    {{ wizard.management_form }}
    {% if typ == 'tel' %}
        <p>Rendez-vous le {{ form.avail.start|date:'l j F à H:i' }} pour une consultation par téléphone :</p>
    {% else %}
        <p>Rendez-vous le {{ form.avail.start|date:'l j F à H:i' }}{% if centre %} à «{{ centre.nom }}»{% endif %} :</p>
    {% endif %}
    
    <div id="contact-form-div">
        {{ wizard.form }}
    </div>

    <button type="submit">Enregistrer et prendre rendez-vous</button>

    <button class="wizard_goto_step" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
        <img class="back_img" src="{% static 'img/back.svg' %}">{{ view.get_step_back_label }}
    </button>
</form>
{% endblock %}
