<!-- Loaded in BS modal -->
<form class="agenda-edit" method="post" action="{{ request.path }}">{% csrf_token %}
    {% if occ_date %}<input name="occ_date" type="hidden" value="{{ occ_date|date:'c' }}">{% endif %}
    <div>{{ form.non_field_errors }}</div>
    <div style="display: flex;">
        {% with form.date as field %}
        <div class="me-2">
            <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
        {% with form.heure_de as field %}
        <div class="me-2">
            <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
        {% with form.heure_a as field %}
        <div class="me-2">
            <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
    </div>
    {% if form.centre %}
    <div>
        {% with form.centre as field %}
        <div class="me-2">
            <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
    </div>
    {% endif %}
    {% if form.dispo_tel %}
    <div>
        {% with form.dispo_tel as field %}
        <div class="me-2">
            <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field }} {{ field.label_tag|strip_colon }}</div>
        </div>
        {% endwith %}
    </div>
    {% endif %}
    {% if form.person %}
    <div>
        {% with form.person as field %}
        <div class="me-2">
            <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
    </div>
    {% endif %}

    {% if form.famille %}
        {% with form.famille as field %}
        <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        {% endwith %}
    {% endif %}

    {% with form.description as field %}
    <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
    {% endwith %}

    {% if form.repetition %}
    {{ form.instance.repetition }}
    <details{% if form.category.name == 'dispo' or form.instance.rule %} open{% endif %}>
        <summary><b>Répétition</b></summary>
        <div>
            {% with form.repetition as field %}
            <div class="me-1">
                <div class="formfield {{ field.css_classes }}">{{ field.errors }}</div> {{ field }}
            </div>
            {% endwith %}
            {% with form.repetition_fin as field %}
            <div>
                <div class="formfield {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
            </div>
            {% endwith %}
        </div>
    </details>
    {% endif %}

    {% with form.sms_confirm as field %}
    <div id="sms_confirm_container" class="formfield {{ field.css_classes }}"
         data-smscheckurl="{% url 'cipe:famille-can-sms' %}" hidden>
        {{ field.errors }}{{ field }} {{ field.label_tag|strip_colon }}
    </div>
    {% endwith %}

    <div class="boutons mt-3">
        <!-- first button, also default when 'enter'ing -->
        {% if form.instance.pk %}
            {% if form.instance.rule %}
            <button class="btn btn-primary submit" type="submit" name="modify-all-btn" value="on">
                Modifier toutes les occurrences
            </button>
            <button class="btn btn-primary submit ms-1" type="submit" name="modify-occ-btn" value="on">
                Modifier cette occurrence uniquement
            </button>
            {% else %}
            <button class="btn btn-primary submit" type="submit">Modifier</button>
            {% endif %}
        {% else %}
        <button class="btn btn-primary submit" type="submit">Créer</button>
        {% endif %}
        <button type="button" class="btn btn-secondary ms-1 cancel" data-bs-dismiss="modal">Annuler</button>
    </div>
</form>

{% if object.pk %}
<div class="boutons mt-3">
    {% if can_delete %}
    <form class="inline" method="get" action="{% url 'person-agenda-delete' object.person.username object.pk %}">
        <button type="submit" id="delete" class="btn btn-danger delete">Supprimer</button>
    </form>
    {% endif %}
    {% if occ_date %}
    <form class="inline" method="post" action="{% url 'person-agenda-toggleocc' object.person.username object.pk %}">
        {% csrf_token %}
        <input name="occ_date" type="hidden" value="{{ occ_date|date:'c' }}">
        <button type="button" id="delete" class="btn btn-warning delete confirm"
            data-confirm="Voulez-vous vraiment {% if occ_obj %}restaurer{% else %}annuler{% endif %} cette occurrence ?">
                {% if occ_obj %}Restaurer{% else %}Annuler{% endif %} l’occurrence du {{ occ_date|date:'j F' }}
        </button>
    </form>
    {% endif %}
</div>
{% endif %}
