{% extends "base.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
    .form-check label { font-weight: normal; }
</style>
{% endblock %}

{% block boutons_droite %}
    {% include famille.typ.0|add:'/famille_boutons.html' with active='coordonnees' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3 lead">
        <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end">{% if personne.pk %}{{ personne.nom_prenom }}{% else %}Nouveau membre{% endif %}</div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-xl-8">
            <form action="#" method="post">{% csrf_token %}
                <input type="hidden" name="famille" value="{{ famille.pk }}">
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        {{ form.nom.label_tag }}{{ form.nom.errors }}{{ form.nom }}
                    </div>
                    <div class="col-md-6">
                        {{ form.prenom.label_tag }}{{ form.prenom.errors }}{{ form.prenom }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        {{ form.date_naissance.label_tag }}{% help_tooltip 'Si l’âge est connu, mais pas la date de naissance exacte, saisir le 1er janvier de l’année supposée' %}
                        <br>{{ form.date_naissance.errors }}{{ form.date_naissance }}
                    </div>
                    <div class="col-md-2">
                        {{ form.genre.label_tag }}{{ form.genre.errors }}{{ form.genre }}
                    </div>
                    <div class="col-md-6">
                        {{ form.role.label_tag }}{{ form.role.errors }}{{ form.role }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.filiation.label_tag }}{% help_tooltip 'Précision sur le lien familial (père de…, etc.)' %}{{ form.filiation.errors }}{{ form.filiation }}
                    </div>
                    {% if form.prescripteur %}{# CIPE #}
                    <div class="col-md-6">
                        {{ form.prescripteur.label_tag }}{{ form.prescripteur.errors }}{{ form.prescripteur }}
                    </div>
                    {% endif %}
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.rue.label_tag }}{{ form.rue.errors }}{{ form.rue }}
                    </div>
                    <div class="col-md-6">
                        {{ form.city_auto.label_tag }}{{ form.city_auto.errors }}{{ form.city_auto }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.telephone.label_tag }}{{ form.telephone.errors }}{{ form.telephone }}
                    </div>
                    <div class="col-md-6">
                        {{ form.email.label_tag }}{{ form.email.errors }}{{ form.email }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.profession.label_tag }}{{ form.profession.errors }}{{ form.profession }}
                    </div>
                    <div class="col-md-6">
                        {{ form.pays_origine.label_tag }}{{ form.pays_origine.errors }}{{ form.pays_origine }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.niveau_fr.label_tag }}{{ form.niveau_fr.errors }}{{ form.niveau_fr }}
                    </div>
                    <div class="col-md-6">
                        {{ form.allergies.label_tag }}{{ form.allergies.errors }}{{ form.allergies }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.remarque.label_tag }}{{ form.remarque.errors }}{{ form.remarque }}
                    </div>
                    <div class="col-md-6">
                        {{ form.remarque_privee.label_tag }}{{ form.remarque_privee.errors }}{{ form.remarque_privee }}
                    </div>
                </div>
                {% with gestite=personne.gestite %}
                {% if gestite %}
                <div class="row">
                    <div class="col">Gestité : {{ gestite }}</div>
                </div>
                {% endif %}
                {% if est_enfant_suivi_amf %}
                    <div class="row mb-3">
                        <div class="col-md-3">
                            {{ form.amf_debut_de_placement.label_tag }}
                            <br>{{ form.amf_debut_de_placement.errors }}{{ form.amf_debut_de_placement }}
                        </div>
                        <div class="col-md-3">
                            {{ form.amf_fin_de_placement.label_tag }}
                            <br>{{ form.amf_fin_de_placement.errors }}{{ form.amf_fin_de_placement }}
                        </div>
                        <div class="col-md-3">
                            {{ form.amf_type_accueil.label_tag }}
                            <br>{{ form.amf_type_accueil.errors }}{{ form.amf_type_accueil }}
                        </div>
                        <div class="col-md-3">
                            {{ form.amf_provenance.label_tag }}
                            <br>{{ form.amf_provenance.errors }}{{ form.amf_provenance }}<br>
                            {{ form.amf_provenance_details.label_tag }}
                            <br>{{ form.amf_provenance_details.errors }}{{ form.amf_provenance_details }}
                        </div>
                    </div>
                {% endif %}
                {% endwith %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.decedee.errors }}{{ form.decedee }} {{ form.decedee.label_tag|strip_colon }}
                        </div>
                    </div>
                </div>

                {% if personne.pk %}
                <div class="row">
                    {% if form.instance.formation %}
                    <div class="col-auto me-2">
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'formation' personne.pk %}">Formation</a>
                    </div>
                    {% endif %}
                    <div class="col-auto">
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'personne-reseau-list' personne.pk %}">Réseau prof.</a>
                    </div>
                </div>
                {% endif %}

                {% if famille|can_edit:user %}
                    {% include "actions.html" %}
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}
