{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='agenda' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mt-3 mb-3">
        <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end">Dossier de suivi</div>
    </div>

    <div class="float-end">
        <a href="{{ rapport.get_print_url }}">
            <img class="icon-xs" src="{% static 'img/printer.png' %}">
        </a>
    </div>
    <h2>Résumé du {{ rapport.date }}</h2>

    <p><b>Enfants:</b><br> {{ enfants|linebreaksbr }}</p>
    <p><b>Intervenant-e-s:</b> {{ intervenants }}</p>
    <p><b>Début du suivi:</b> {{ rapport.famille.suivi.date_debut_suivi }}</p>

    {% for label, value in data %}
    <h3>{{ label }}</h3>
    {{ value|default:'-'|raw_or_html }}
    {% endfor %}

    <p class="secret">
        Le présent résumé comporte des éléments <b>couverts par le secret professionnel au sens de la LPSy et du Code pénal</b>. Seuls les propriétaires des données, à savoir les membres de la famille faisant l’objet du résumé, peuvent <b>ensemble</b> lever ce secret ou accepter la divulgation des données. Si cette autorisation n’est pas donnée, l’autorité compétente en matière de levée du secret professionnel doit impérativement être saisie.
    </p>

    <div class="mt-3 text-end">
        <a class="btn btn-sm btn-secondary" href="javascript: history.go(-1)">Retour</a>
        {% if rapport|can_edit:user %}
            <a class="btn btn-sm btn-success"
               href="{% url 'famille-rapport-edit' famille.pk rapport.pk %}">Modifier</a>
        {% endif %}
        {% if rapport|can_delete:user %}
            <form class="inline ms-5" method="post">{% csrf_token %}
                <button class="btn btn-sm btn-danger" name="delete" type="submit"
                    data-confirm="Voulez-vous vraiment supprimer ce résumé ?"
                    formaction="{% url 'famille-rapport-delete' famille.pk rapport.pk %}"
                    >Supprimer</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
