{% extends "base.html" %}
{% load my_tags %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3">
        <div class="col"><p class="lead">Édition de résumé pour la famille {{ form.instance.famille }}</p></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <form action="." method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div>
                        {{ field.label_tag }} {{ field.errors }}
                        {% if field.field.disabled %}{% get_field_value form.instance field.name|safe %}
                        {% else %}{{ field }}{% endif %}
                    </div>
                {% endfor %}

                {% include 'actions.html' %}
            </form>
        </div>
    </div>
{% endblock %}
