{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Role</p></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="#" method="post">
                {% csrf_token %}

                <form action="." method="post">
                {% csrf_token %}
                <table class="table table-sm">
                    {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
            </form>
        </div>
    </div>
{% endblock %}
