{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-3 justify-content-center">
        <div class="col"><p class="lead">Services partenaires</p></div>
        <div class="col text-end">{{ view.action }}</div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-6">
            <form action="#" method="post">{% csrf_token %}
                <table class="table table-borderless">
                    {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
