{% extends "base.html" %}

{% block boutons_droite %}
<div class="topnav-right me-3">
    <form class="form selection_form immediate_submit" method="get" action=".">
      <div class="select-container pt-1">
        {{ filter_form.date_acces.label_tag }} {{ filter_form.date_acces }}
      </div>
      <div class="select-container">
        {{ filter_form.ordinaire.label_tag }} {{ filter_form.ordinaire }}
      </div>
    </form>
</div>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Accès aux familles par {{ utilisateur }}</p></div>
    </div>
    <table id="user_table" class="table table-sm table-hover sortable">
        <thead class="table-light">
            <tr>
                <th>Date/heure</th>
                <th>Famille</th>
                <th>Accès ordinaire</th>
            </tr>
        </thead>
        <tbody>
            {% for line in object_list %}
            <tr>
                <td class="m-0 p-1" data-sort="{{ line.quand|date:'Ymd' }}">{{ line.quand|date:'d.m.Y H:i' }}</td>
                <td class="m-0 p-1">{{ line.famille }}</td>
                <td class="m-0 p-1" data-sort="{{ line.ordinaire }}">{{ line.ordinaire|boolean_icon }}</td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
