<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titre }}</title>
    <style>
        body {
            font-family: 'Lato', Arial, sans-serif;
            font-size: 1em;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .email-container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 8px;
            overflow: hidden;
        }
        .header {
            background-color: #d92838;
            color: #ffffff;
            padding: 20px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }
        .content {
            padding: 20px;
            color: #333333;
            line-height: 1.5;
        }
        .section {
            margin-bottom: 15px;
            margin-top: 15px;
            padding-left: 20px
        }
        .section-title {
            font-weight: bold;
            font-size: 1.1em;
        }
        .section-title2 {
            font-style: italic;
        }
        .section-subscription {
            font-weight: bold;
            font-style: italic;
        }
        .section-subscription a {
            font-weight: normal;
            font-size: 0.8em;
        }
        p {
            margin: 0px;
        }
        a {
            color: #d92838;
            text-decoration: none;
        }
        .footer {
            background-color: #f4f4f4;
            color: #666666;
            text-align: center;
            padding: 10px;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <!-- Header -->
        <div class="header">
            {{ titre }}
        </div>

        <!-- Content -->
        <div class="content">
            <p>Chères familles,</p>
            <p>Nous espérons que ce message vous trouve en bonne forme.</p>
            <p>Nous nous permettons de vous rappeler l’invitation à nos formations du mois de {{ mois }} :</p>
            {% for formation in formations %}
                <div class="section">
                    <p class="section-title">{{ formation.nom }}</p>
                    {% if formation.description %}
                        <p class="section-title2">{{ formation.description }}</p>
                    {% endif %}
                    {% if formation.date_horaires_display %}
                        <p><strong>Date :</strong> {{ formation.date_horaires_display }}</p>
                    {% endif %}
                    {% if formation.information_formateurs %}
                        <p><strong>Avec :</strong> {{ formation.information_formateurs }}</p>
                    {% endif %}
                    {% if formation.lieu %}
                        <p><strong>Lieu :</strong> {{ formation.lieu }}</p>
                    {% endif %}
                    {% if formation.information_delais_inscription %}
                        <p class="section-subscription">
                            {{ formation.information_delais_inscription }}<br>
                            <a href="mailto:{{ email }}">Inscription par email</a>
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
            <p>Nous restons bien évidemment à disposition pour toute question complémentaire et nous réjouissons de vous revoir.</p>
            <p>Nous vous adressons, chères familles, nos meilleures salutations.</p>
        </div>

        <!-- Footer -->
        <div class="footer">
            Croix-Rouge Neuchâteloise - CRNE, Avenue du Premier-Mars 2a, 2000 Neuchâtel<br>
            <a href="mailto:{{ email }}">{{ email }}</a> | {{ telephone }}
        </div>
    </div>
</body>
</html>
