textarea { width: 100%; }
form ul { list-style: none; }
form ul label { font-weight: normal; }
.famille-filter { font-size:95%; background: #eee; padding: 1em; }
.selection_form input[type=text] { width: 10em; }
.selection_form > div { padding: 3px; }
.marquants {
  color: #a9351e;
  font-weight: bold;
}
.missing_field { color:red; font-style: italic; }
.premat { border-bottom: 1px dotted gray; }
tr.new_cat td { border-top: 2px solid black; }
#id_theme { max-width: 13em; }
#id_age_de, #id_age_a { max-width: 4em; }
#id_recips { margin-bottom: 0; }
#id_recips label { font-weight: normal; }
#id_recips, #recip_other_div { padding-left: 2.5em; }

.generaldoc-line {
  margin-left: 1em;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}
