{% extends "base-public.html" %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
  <h2>Page introuvable</h2>
  <p>Nous sommes désolés, la page demandée n'existe pas ou plus.</p>
{% endblock %}
