<h6 class="pb-2 fw-bold">Fin de l’accompagnement le</h6>
<p>{{ form.date_fin_suivi.errors }}{{ form.date_fin_suivi }}</p>
<h6 class="mt-2 fw-bold">Motif de fin</h6>
<p class="px-5 fin">{{ form.motif_fin_suivi.errors }}{{ form.motif_fin_suivi }}</p>
{% if form.destination %}
<h6 class="mt-2 fw-bold">Destination</h6>
<p class="px-5 fin">{{ form.destination.errors }}{{ form.destination }}</p>
{% endif %}
