{% for doc in docs %}
<div class="py-1">
    <a href="{{ doc.get_absolute_url }}">{{ doc.title }}</a>
    <a href="{{ doc.get_print_url }}">
        <img class="icon-xs" src="{% static 'img/printer.png' %}">
    </a>
</div>
{% endfor %}
