<table class="table table-sm table-borderless mb-3">
   <tr>
      <th class="left-label">Documents
         {% if famille|can_edit:user %}
         <span>
            <a href="{% url 'famille-doc-upload' famille.pk %}"
               class="btn btn-sm btn-mini btn-primary"
               role="button "
               title="Ajouter un document">+</a>
          </span>
         {% endif %}
      </th>
      <td colspan="4">
         <div>
            {% for doc in famille.documents.all %}
               <a href="{{ doc.fichier.url }}">{{ doc.titre }}</a>
               {% if famille|can_edit:user %}
               <span class="hoverimage">
                  <button type="submit" class="btn confirm"
                     formaction="{% url 'famille-doc-delete' famille.pk doc.pk %}"
                     title="Supprimer ce document"
                     data-confirm="Voulez-vous vraiment supprimer ce document ?">
                     <img src="{% static 'admin/img/icon-deletelink.svg' %}">
                  </button>
               </span>
               {% endif %}
            {% endfor %}
         </div>
      </td>
   </tr>
</table>
