{% extends "base.html" %}

{% block extrastyle %}
<style>
{% if mode == 'evaluation' %}
.fin, .suivi { display: none; }
{% endif %}
</style>
{% endblock %}

{% block boutons_droite %}
    {% include './famille_boutons.html' with active='agenda' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mt-3 mb-3">
        <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end">Dossier de suivi</div>
    </div>

    <form action= "." method="post">{% csrf_token %}
        <input type="hidden" name="famille" value="{{ famille.pk }}">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
        <div class="row mt-2">
            <div class="col-4 text-center h5 py-3 mb-0" style="background-color:#FFDDAA;">ÉVALUATION</div>
            <div class="col-4 text-center h5 py-3 mb-0" style="background-color:#77BBFF;">ACCOMPAGNEMENT</div>
            <div class="col-4 text-center h5 py-3 mb-0" style="background-color:#FFDDAA;">CLÔTURE DU DOSSIER</div>
        </div>

        <div class="row">
            <div class="col-4 text-center border" style="background-color:#FFEECC;">
                <h6 class="mt-3 p-1 fw-bold">Demande déposée le</h6>
                <p class="">{{ form.date_demande.errors }}{{ form.date_demande }}</p>
                <h6 class="m-1 p-1 fw-bold">Début de l’évaluation le</h6>
                <p class="">{{ form.date_debut_evaluation.errors }}{{ form.date_debut_evaluation }}</p>
                <h6 class="m-1 p-1 fw-bold">Fin de l’évaluation le</h6>
                <p>{{ form.date_fin_evaluation.errors }}{{ form.date_fin_evaluation }}</p>
                {% if mode == 'evaluation' %}
                <div class="border m-3 p-3" style="background-color:#FFDDAA;">
                    <h6 class="m-1 p-3"><em>Si abandon du dossier:</em></h6>
                    <h6 class="mt-2">Motif de fin</h6>
                    <p class="">{{ form.motif_fin_suivi.errors }}{{ form.motif_fin_suivi }}</p>
                </div>
                {% endif %}
                <p id="spe_print_buttons" class="py-3">
                    <a class="btn btn-outline-info btn-sm"
                    href="{% url 'spe-print-evaluation' famille.pk %}">Évaluation PDF</a>
                </p>
            </div>

            <div class="col-4 d-flex flex-column">
                <div class="row flex-grow-0" style="background-color:#BBEEFF;">
                    <div class="col text-center mt-3 p-1">
                        <span class="fw-bold">Début de l'accompagnement le </span> {{ form.date_debut_suivi.errors }}{{ form.date_debut_suivi }}
                        {% if famille.suivi.date_debut_suivi and not famille.suivi.date_fin_suivi %}
                        <div>Depuis {{ famille.suivi.date_debut_suivi|timesince }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row flex-grow-0" style="background-color:#BBEEFF;">
                    <div class="col-12 mt-3 p-1">
                        {% for niveau in niveaux %}
                        <div class="ms-5"><span class="fw-bold">Niv. d’intervention {{niveau.niveau_interv }}</span>
                            du {{ niveau.date_debut|date:"d.m.Y" }} au {{ niveau.date_fin_calc|date:"d.m.Y"|default:'--'}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col text-center mt-3 p-1">
                        <div class="fw-bold">Accompagnement(s) temporaire(s)</div>
                        {% for intervention in interv_temporaires %}
                        <div>{{ intervention.intervenant.nom_prenom }} ({{ intervention.role }})
                            ({{ intervention.date_debut|date:"d.m.Y" }} - {{intervention.date_fin|date:"d.m.Y" }})
                        </div>
                        {% empty %} -
                        {% endfor %}
                    </div>
                </div>

                <div class="row flex-grow-1">
                    <div class="col text-center border" style="background-color:#CCEEFF;">
                        <h5 class="mt-3 p-1">BILANS ET RÉSUMÉS</h5>
                        <p class="m-1">
                            {% include "partial_show_docs.html" with docs=bilans_et_rapports %}
                        </p>
                        {% if can_edit and mode == 'suivi' %}
                        <p class="">
                            <a class="btn btn-primary btn-sm" href="{% url 'famille-bilanspe-add' famille.pk %}">Ajouter un bilan</a>
                            <a class="btn btn-primary btn-sm" href="{% url 'famille-rapport-add' famille.pk %}">Ajouter un résumé</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-4 text-center border" style="background-color:#FFEECC;">
                {% if mode == 'suivi' %}
                <div class="fin mt-5 p-3 border" style="background-color:#FFDDAA;">
                    {% include 'partial_agenda_cloture.html' %}
                </div>
                {% endif %}
                {% if mode == 'reactivation' %}
                <h6 class="mt-3 p-1 fw-bold">Fin de l’accompagnement le</h6>
                <p class="mt-2">{{ object.date_fin_suivi }}</p>
                <h6 class="m-1 p-1 fw-bold">Motif de fin</h6>
                <p class="fin">{{ object.get_motif_fin_suivi_display }}</p>
                <h6 class="m-1 p-1 fw-bold">Destination</h6>
                <p class="fin">{{ object.famille.get_destination_display }}</p>
                  {% if famille|can_be_reactivated:user %}
                  <button class="btn btn-danger btn-sm mt-3" type="submit"
                        data-confirm="Les champs «Date de fin de l'accompagnement», «Motif de fin» et éventuellement «Destination» seront effacés. Voulez-vous continuer?"
                    formaction="{% url 'famille-reactivation' famille.pk %}">Réactiver</button>
                  {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if famille|can_edit:user %}
                    {% include "actions.html" %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
