{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Charge des dossiers en cours par utilisateur (rôles psy et éduc)</p></div>
        <div class="col text-end">
            <form method="get" action="." class="inline">{{ filter_form }}</form>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'utilisateur-list' %}">Utilisateurs</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table id="user_table" class="table table-sm table-striped sortable">
            <thead class="table-light">
                <tr><th></th>
                    <th class="text-end">Taux act.</th>
                    <th class="text-end" data-sort-method="number">Familles éval.</th>
                    <th class="text-end" data-sort-method="number">Familles suivies</th>
                    <th class="text-end" data-sort-method="number">Charge hebdo</th>
                    <th class="text-end" data-sort-method="number">Charge max.</th>
                    <th class="text-end" data-sort-method="number">Différence</th>
                </tr>
            </thead>
            <tbody>
                {% for util in utilisateurs %}
                <tr><td>{{ util }}</td>
                    <td class="text-end">{{ util.taux_activite }}%</td>
                    <td class="text-end">{{ util.nbre_eval }}</td>
                    <td class="text-end">{{ util.nbre_suivi }}</td>
                    <td class="text-end">{{ util.heures }}</td>
                    <td class="text-end">{{ util.charge_max }}</td>
                    <td class="text-end{% if util.charge_diff < 0 %} text-danger{% endif %}">{{ util.charge_diff }}</td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}
