<div id="spe_buttons">
<a class="btn btn-outline-primary btn-sm {% if active == 'coordonnees' %} active {% endif %}" href="{% url 'spe-famille-edit' famille.pk %}">Coordonnées</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'demande' %} active {% endif %}" href="{% url 'spe-demande' famille.pk %}">Demande</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'prestation' %} active {% endif %}" href="{% url 'spe-journal-list' famille.pk %}">Journal</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'suivi' %} active {% endif %}" href="{% url 'spe-famille-suivi' famille.pk %}">Suivi</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'agenda' %} active {% endif %}"
   href="{% url 'spe-famille-agenda' famille.pk %}">Agenda</a>
{% if perms.croixrouge.change_utilisateur %}
    <a class="btn btn-outline-primary btn-sm{% if active == 'acces' %} active{% endif %}" href="{% url 'famille-journalacces' famille.pk %}">Journal d’accès</a>
{% endif %}
</div>
