{% extends "base.html" %}

{% block boutons_droite %}
    <div class="col text-end">
        <a class="btn btn-sm btn-outline-primary" href="{% url 'medlink-historique' %}">Historique</a>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center border-bottom mb-3">
        <div class="col-12"><p class="lead">Importation du {{ date|date:'l j.n.Y' }} à {{ date|date:'H:i' }}</p></div>
    </div>
    <h3>SPE</h3>
    <table class="table table-sm sortable">
        <thead class="table-light">
        <tr>
            <th>Date</th><th>Interv.</th><th>Famille</th><th>Prestation</th><th>Durée</th>
        </tr>
        </thead>
        <tbody>
        {% for prest in spe.object_list %}
        <tr>
            <td>{{ prest.date_prestation }}</td>
            <td>{{ prest.intervenants.all.0.nom_prenom }}</td>
            <td>{% if prest.famille.pk %}
                <a href="{% url 'spe-journal-list' prest.famille.pk %}">
                    {{ prest.famille }}
                </a>
                {% else %}
                    Prestation générale
                {% endif %}
            </td>
            <td>{{ prest.lib_prestation }}</td>
            <td>{{ prest.duree|format_duree }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tbody>
            <tr>
                <td colspan="3"></td>
                <td><strong>Total :</strong></td>
                <td>{{ spe.total|format_duree }}</td>
            </tr>
        </tbody>
    </table>

    <h3>SOF</h3>
    <table class="table table-sm sortable">
        <thead class="table-light">
        <tr>
            <th>Date</th><th>Interv.</th><th>Famille</th><th>Prestation</th><th>Durée</th>
        </tr>
        </thead>
        <tbody>
        {% for prest in sof.object_list %}
        <tr>
            <td>{{ prest.date_prestation }}</td>
            <td>{{ prest.intervenants.all.0.nom_prenom }}</td>
            <td>{% if prest.famille.pk %}
                <a href="{% url 'sof-journal-list' prest.famille.pk %}">
                    {{ prest.famille }}
                </a>
                {% else %}
                    Prestation générale
                {% endif %}
            </td>
            <td>{{ prest.lib_prestation }}</td>
            <td>{{ prest.duree|format_duree }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tbody>
            <tr>
                <td colspan="3"></td>
                <td><strong>Total :</strong></td>
                <td>{{ sof.total|format_duree }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
