{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center border-bottom mb-3">
        <div class="col-md-4"><p class="lead">Dernières importations Medlink</p></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <ul>
                {% for import in object_list %}
                <li>
                    <a href="{% url 'medlink-detail' %}?ts={{ import.medlink_date|date:'U' }}">
                        {{ import.medlink_date|date:'l j.n.Y' }} à {{ import.medlink_date|date:'H:i' }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
