<li class="nav-item">
  <a href="{% url 'spe-famille-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Familles SPE</a>
</li>
<li class="nav-item">
  <a href="{% url 'spe-suivis-termines' %}" class="btn btn-sm btn-outline-secondary" role="button">Suivis terminés</a>
</li>
<li class="nav-item">
  <a href="{% url 'contact-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Contacts</a>
</li>
<li class="nav-item">
  <a href="{% url 'service-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Service</a>
</li>
<li class="nav-item">
  <a href="{% url 'spe-prestation-menu' %}" class="btn btn-sm btn-outline-secondary" role="button">Prestations</a>
</li>
