{% extends "base.html" %}

{% block extrastyle %}
<style>
.tooltip-inner { text-align: left; max-width: 480px; }
#id_date_prestation, #id_duree { display: inline-block; }
</style>
{% endblock %}

{% block boutons_droite %}
    {% if famille %}
        {% include './famille_boutons.html' with active='prestation' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3 justify-content-between">
        <div class="col">
            <p id='nom_famille' class="lead">
            {% if famille %}
                Famille {{ famille.nom }} - {{ famille.adresse  }}
            {% else %}
                Mes prestations générales
            {% endif %}</p>
        </div>
    </div>

    <form action="#" class="mb-5" name="PrestationForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">{{ form.date_prestation|as_field_group }}</div>
            <div class="col-6">{{ form.duree|as_field_group }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form.texte|as_field_group }}</div>
        </div>
        <div class="row mt-3 mb-2">
            <div class="col">{{ form.manque }} {{ form.manque.label_tag|strip_colon }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form.fichier|as_field_group }}</div>
        </div>
        <div class="row mt-3">
            <div class="col">{{ form.intervenants|as_field_group }}</div>
        </div>
        {% include "actions.html" %}
    </form>
{% endblock %}
