{% extends "base.html" %}

{% block content %}
    {% include "./stat-tabs.html" with active="export" %}

    <div class="row mb-3">
        <div class="col"><p class="app_line lead">Exportation mensuelle</p></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <p class="lead">Exportation des statistiques mensuelles pour le SPAJ</p>
            <form class="selection_form" action="#" method="post">{% csrf_token %}
                <table class="table table-sm">
                    {{ form.as_table }}
                    <tr>
                        <td class="text-end" colspan="2"><button class="btn btn-primary" type="submit">Exporter</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
