{% extends "base.html" %}

{% block extrastyle %}
<style>
    .stat_table tr.first td { border-top: 1px solid #999; }
</style>
{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "./stat-tabs.html" with active="interv" %}

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th class="left">Intervenant-e</th><th></th>
                        {% for month in months %}<th>{{ month }}</th>{% endfor %}
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:3 }}" class="app_line">
                        <h3>SPE</h3>
                    </td></tr>
                    {% for interv, counters in interv_spe.items %}
                    <tr class="first">
                        <td>{{ interv.nom_prenom }}</td><td><small>Familles</small></td>
                        {% for month in months %}<td class="num">{{ counters.num_familles|get_item:month }}</td>{% endfor %}
                        <td class="num">{{ counters.num_familles.total }}</td>
                    </tr>
                    <tr>
                        <td></td><td><small>Enfants</small></td>
                        {% for month in months %}<td class="num">{{ counters.num_enfants|get_item:month }}</td>{% endfor %}
                        <td class="num">{{ counters.num_enfants.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
