{% extends "base.html" %}
{% load spe_utils %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "./stat-tabs.html" with active="niveaux" %}

    <div class="row">
        <div class="col">
            <p class="fw-bold mt-3">
                Nombre de familles et d’enfants suivis par niveau d’intervention.
            </p>

            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr class="table-secondary">
                        <th class="left">Niveau</th>
                        {% for month in months %}<th colspan="2" width="10%" class="text-center">{{ month }}</th>{% endfor %}
                        <th colspan="2">Total</th>
                    </tr>
                    <tr><th></th>
                        {% for month in months %}<th>Fam.</th><th class="border-end">Enf.</th>{% endfor %}
                        <th class="total-vert">Fam.</th><th class="border-end">Enf.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for niveau, stats in niveaux_spe.items %}
                    {% if niveau != 'totals' %}
                    <tr>
                        <td>{{ niveau }}</td>
                        {% for month in months %}{{ stats|stat_niveau:month }}{% endfor %}
                        {{ stats|stat_niveau:'total' }}
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr class="table-group-divider">
                        <td>Totaux</td>
                        {% for month in months %}{{ niveaux_spe.totals|stat_niveau:month }}{% endfor %}
                        <td class="num total-vert">{{ niveaux_spe.totals.total.familles }}</td>
                        <td class="num border-end">{{ niveaux_spe.totals.total.enfants }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
