{% extends "base.html" %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "./stat-tabs.html" with active="duree" %}

    <div class="row">
        <div class="col">
            <p class="fw-bold mt-3">
                Répartition des suivis par durée d’accompagnement. Les suivis pris en compte sont ceux dont la date de fin de suivi se situe entre les bornes temporelles sélectionnées.
            </p>

            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr class="table-secondary">
                        <th class="left">Durée</th>
                        <th>Nb de suivis</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slice in slices_spe %}
                        <tr>
                            <td>{{ slice.label }}</td>
                            <td class="num">{{ durees_spe|get_item:slice.label }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
