<div id="cipe_buttons">
<a class="btn btn-outline-primary btn-sm {% if active == 'coordonnees' %} active {% endif %}" href="{% url 'cipe:famille-edit' famille.pk %}">Infos famille</a>
{% if enfant %}
<a class="btn btn-outline-primary btn-sm {% if active == 'coordonnees' %}active{% endif %}" href="{% url 'personne-edit' famille.pk enfant.pk %}">Infos enfant</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'perinatal' %}active{% endif %}" href="{% url 'cipe:enfant-perinatal' famille.pk enfant.pk %}">Dossier</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'psycho' %}active{% endif %}" href="{% url 'cipe:enfant-psycho' famille.pk enfant.pk %}">Psychom.</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'prestation' %}active{% endif %}" href="{% url 'cipe:prestation-enfant-list' famille.pk enfant.pk %}">Journal</a>
<form class="d-inline" method="post" action="{% url 'cipe:enfant-archiver' enfant.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-danger confirm" data-confirm="Voulez-vous vraiment archiver cet enfant ?">
        Archiver
    </button>
</form>
{% elif perms.croixrouge.change_utilisateur %}
    <a class="btn btn-outline-primary btn-sm{% if active == 'acces' %} active{% endif %}" href="{% url 'famille-journalacces' famille.pk %}">Journal d’accès</a>
{% endif %}
</div>
