{% extends "cipe/base_cipe.html" %}
{% load cipe_tags %}

{% block extra_javascript %}
<script>
    $(document).ready(function() {
        $("#id_region").change(function() { this.form.submit(); });
    });
</script>
{% endblock %}

{% block above-content %}
<form method="get" class="container-fluid mb-5" action=".">
<div class="row justify-content-center">
    <div class="col-10 famille-filter border">
        <div class="row justify-content-between">
            <div class="col-xl-5 d-flex flex-wrap">
                <div class="select-container">
                    {{ form.famille }}
                </div>
                <div class="select-container">
                    {{ form.adresse }}
                </div>
                <div class="select-container">
                    {{ form.tel }}
                </div>
                <div class="select-container">
                    {{ form.pediatre }}
                </div>
                <div class="select-container">
                    {{ form.region.label_tag }} {{ form.region }}
                </div>
            </div>
            <div class="col-xl-5">
                <div class="select-container">
                    <label for="id_age_de">Âge de</label> {{ form.age_de }} mois <label for="id_age_de">à</label> {{ form.age_a }} mois
                </div>
                <div class="select-container">
                    <label for="id_consult_de">Dernière consultation du</label> {{ form.consult_de }} <label for="id_consult_a">au</label> {{ form.consult_a }}
                </div>
                <div class="select-container">
                    {{ form.besoins_part }} {{ form.besoins_part.label_tag|strip_colon }}
                </div>
                <div class="select-container mt-1">
                    {{ form.a_contacter }}
                </div>
            </div>
            <div class="col-xl-1 text-end">
                <button id="search-button" type="submit" title="Rechercher"><img src="{% static 'admin/img/search.svg' %}"></button>
                <button id="reset-button" type="reset" title="Réinitialiser tous les filtres"><img src="{% static 'img/filter_off.svg' %}"></button>
            </div>
        </div>
    </div>

</div>
</form>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">{{ title }}</p></div>
        {% if not archives %}
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'cipe:famille-add' %}">Nouvelle famille</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <table id="benef_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Centre</th>
                        <th>Enfants suivis</th>
                    </tr>
                </thead>
                <tbody>
                    {% for famille in object_list %}
                        <tr>
                            <td>
                                <div>
                                    <a href="{% url 'cipe:famille-edit' famille.pk %}" title="Coordonnées">{{ famille.nom }}</a>
                                    {% if famille.besoins_part %}<img class="icon-ui" src="{% static 'img/warning.svg' %}" title="Famille à besoins particuliers" data-bs-toggle="tooltip">{% endif %}
                                </div></td>
                            <td>{{ famille.npa }} {{ famille.localite }}</td>
                            <td>{{ famille.region|default_if_none:'-' }}</td>
                            <td>
                                {% for pers in famille.enfants %}
                                    <a href="{% url 'cipe:prestation-enfant-list' pers.famille_id pers.pk %}" title="Dernière prestation le {{ pers.derniere_prest|default:'-' }}">{{ pers }}</a>, {{ pers.age_str }}{{ pers.suivienfant|age_premat }}
                                    {% with pers|alerte_consult as alerte %}{% if alerte %}
                                    <img class="icon-ui" src="{% static 'img/warning.svg' %}" title="{{ alerte }}" data-bs-toggle="tooltip">
                                    {% endif %}{% endwith %}
                                    {% if not forloop.last %}–{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block pagination %}
    {{ block.super }}
    <div class="col text-end">
        <a href=".?{% param_replace %}&export=1" title="Exportation de la liste des familles">
            <img class="icon" src="{% static 'ficons/xlsx.svg' %}">
        </a>
    </div>
{% endblock %}
