<tr>
    <td>
        <div>{{ item.item.descriptif }}</div>
        <div class="form-container"></div>
    </td>
    <td class="{{ item.acquisition }}">{{ item.get_acquisition_display }}</td>
    <td>{{ item.date|date:"d.m.Y" }}</td>
    <td>{{ item.remarque }}</td>
    <td>{% if item|can_edit:user %}
        <a href="{% url 'cipe:item-psychoedit' famille.pk item.pk %}" class="btn evaluer">
            <img src="{% static 'img/edit.svg' %}" class="icon-ui" alt="édition">
        </a>
        {% endif %}
    </td>
</tr>
