<form method="post" action="{{ request.path }}">{% csrf_token %}
    {{ form.item }}
    <div>{{ form.acquisition.errors }}{{ form.acquisition }}</div>
    <div>{{ form.remarque.errors }}{{ form.remarque.label_tag }}{{ form.remarque }}</div>
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <button type="button" class="btn btn-secondary cancel">Annuler</button>
</form>
