{% extends "cipe/base_cipe.html" %}

{% block boutons_droite %}
    {% with famille=enfant.famille %}
    {% include './famille_boutons.html' with active='percentiles' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3 justify-content-between">
        <div class="col-10">
            <p id='nom_famille' class="lead">
                Famille {{ enfant.famille.nom }} - {{ enfant.famille.adresse  }}
            </p>
        </div>
        <div class="col-2 mt-4 text-end">
            {% if typ == "poids" %}
            <a class="btn btn-outline-info btn-sm"
               href="{% url 'cipe:enfant-percentile-taille' enfant.pk %}">Taille
            </a>
            {% if graph is not None %}
                <a class="btn btn-outline-info btn-sm"
                   href="{% url 'cipe:print-percentile-poids' enfant.pk %}">Imprimer
                </a>
            {% endif %}
            {% else %}
            <a class="btn btn-outline-info btn-sm"
               href="{% url 'cipe:enfant-percentile-poids' enfant.pk %}">Poids
            </a>
            {% if graph is not None %}
                <a class="btn btn-outline-info btn-sm"
                   href="{% url 'cipe:print-percentile-taille' enfant.pk %}">Imprimer
                </a>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-9">
            {% if graph is None %}
                <p>Encore aucune donnée pour cet enfant.</p>
            {% else %}
                <img src="data:image/png;base64,{{ graph.get_url }}", alt="Courbe de croissance", width="80%">
            {% endif %}
        </div>
        <div class="col-3">
            <table class="table table-sm small">
                <tr>
                    <th>Date</th><th>Poids (kg)</th><th>Taille (cm)</th>
                </tr>
                {% for valeurs in graph.get_query %}
                <tr>
                    <td>{{ valeurs.date|date:'d M Y' }}</td>
                    <td align="right">{{ valeurs.poids|default_if_none:'-'  }}</td>
                    <td align="right">{{ valeurs.taille|default_if_none:'-' }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {% if graph is not None %}
    <div class="row mb-3">
        <div class="col text-end">
            <a href="{% url 'cipe:enfant-percentile-email' enfant.pk %}" class="btn btn-outline-info btn-sm">Envoyer par courriel…</a>
        </div>
    </div>
    {% endif %}

{% endblock %}
