{% extends "cipe/base_cipe.html" %}

{% block boutons_droite %}
    {% with famille=enfant.famille %}
    {% include './famille_boutons.html' with active='percentiles' %}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="row border-bottom mt-3 mb-3">
    <div class="col">
        <p id='nom_famille' class="lead">
            Famille {{ enfant.famille.nom }} - {{ enfant.famille.adresse  }}
        </p>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <form method="post" action=".">
            {% csrf_token %}
            <p>Envoi des percentiles (poids et taille) de {{ enfant.prenom }} {{ enfant.nom }} par courriel à :</p>
            
            {{ form.recips.errors }}
            {{ form.recips }}
            {% if form.pediatre %}
            {{ form.pediatre }}
            {% endif %}
            <div id="recip_other_div">Autres adresses : {{ form.recip_other }}</div>

            <div id="actions" class="row mt-2">
                <div class="col text-end">
                    <a class="btn btn-sm btn-secondary" href="javascript: history.go(-1)">Annuler</a>
                    <button class="btn btn-sm btn-success" name="send" type="submit">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
