{% extends "cipe/base_cipe.html" %}
{% load my_tags %}

{% block extrastyle %}
{{ block.super }}
<style>
    . > label { display: block; margin-bottom: 0; }
    .checkbox > label { display: inline-block; }
    #id_remarques { width: 100%; }
</style>
{% endblock %}

{% block content %}
    <p class="lead border-bottom mb-5">
        {% if view.is_create %}Ajout d’une prestation générale{% else %}Modification d’une prestation générale{% endif %}
    </p>
    <div class="row mb-5 justify-content-center">
        <div class="col">
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row mb-5">
                    <div class="col-md-3">
                        {{ form.date.label_tag }}<br>{{ form.date.errors }}{{ form.date }}
                    </div>
                    <div class="col-md-3">
                        {{ form.duree.label_tag }}{{ form.duree.errors }}{{ form.duree }}
                    </div>
                    <div class="col-md-6">
                        {{ form.participants.label_tag }}{{ form.participants.errors }}{{ form.participants }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        {{ form.type_prest.label_tag }}{{ form.type_prest.errors }}{{ form.type_prest }}
                    </div>
                    <div class="col-md-3">
                        {{ form.nb_adultes.label_tag }}{{ form.nb_adultes.errors }}{{ form.nb_adultes }}
                    </div>
                    <div class="col-md-3">
                        {{ form.nb_enfants.label_tag }}{{ form.nb_enfants.errors }}{{ form.nb_enfants }}
                    </div>
                    <div class="col-md-3">
                        {{ form.lieu.label_tag }}{{ form.lieu.errors }}{{ form.lieu }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        {{ form.nb_tel.label_tag }}{{ form.nb_tel.errors }}{{ form.nb_tel }}
                    </div>
                    <div class="col-md-3">
                        {{ form.nb_sms.label_tag }}{{ form.nb_sms.errors }}{{ form.nb_sms }}
                    </div>
                    <div class="col-md-3">
                        {{ form.nb_email.label_tag }}{{ form.nb_email.errors }}{{ form.nb_email }}
                    </div>
                    <div class="col-md-3">
                        {{ form.nb_courr.label_tag }}{{ form.nb_courr.errors }}{{ form.nb_courr }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        {{ form.remarques.label_tag }}{{ form.remarques.errors }}{{ form.remarques }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "actions.html" %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
