{% extends "cipe/base_cipe.html" %}
{% load static my_tags cipe_tags %}

{% block content %}
   <div class="row mt-3">
      <div class="col">
         <p class="lead">
            {% if prev_month %}
               <a class="btn btn-sm" href="?{% param_replace date=prev_month|date:'mY' %}"><button>&lt;</button></a>
            {% endif %}
            {{ current_date.month|month_name }} {{ current_date.year }}
            {% if next_month %}
               <a class="btn btn-sm" href="?{% param_replace date=next_month|date:'mY' %}"><button>&gt;</button></a>
            {% endif %}
         </p>
      </div>
      <div class="col mt-2">
        {% if perms.cipe.change_prestationgen %}
        <form method="get" action="{{ request.path }}?{% param_replace %}">
            <input type="hidden" name="date" value="{{ request.GET.date }}">
            <select name="prest_choice" class="custom-select immediate-submit form-select">
                <option value="">Mes prestations</option>
                <option value="gen" {% if request.GET.prest_choice == 'gen' %}selected{% endif %}>Toutes prestations générales</option>
            </select>
        </form>
        {% else %}<p class="lead">Mes prestations</p>
        {% endif %}
      </div>
      <div class="col text-end">
         <a class="btn btn-outline-primary" href="{% url 'cipe:prestation-gen-add' %}">
            <img src="{% static 'admin/img/icon-addlink.svg' %}"> Ajouter une prestation générale
         </a>
      </div>
   </div>
   <div class="row mt-2">
      <div class="col">
         <table class="table table-sm">
            <thead class="table-light">
               <tr>
                  <th width="7%">Date</th>
                  <th width="5%">Durée</th>
                  <th width="10">Famille</th>
                  <th>Contenu</th>
                  {% if show_part %}<th>Participants</th>{% endif %}
                  <th></th>
               </tr>
            </thead>
            <tbody>
               {% for prest in object_list %}
                  <tr>
                     <td>{{ prest.date|date:"d.m.Y" }}</td>
                     <td>{{ prest.duree|strip_seconds }}</td>
                     <td>{{ prest.famille.nom|default:'-' }}</td>
                     <td>{{ prest|contenu_prest|truncate_html_with_more:20 }}</td>
                     {% if show_part %}<td>{{ prest.participants.all|join_qs:' / ' }}</td>{% endif %}
                     <td align="center">
                     {% if prest|can_edit:user %}
                        <a href="{{ prest.edit_url }}">
                           <img src="{% static 'admin/img/icon-changelink.svg' %}">
                        </a>
                     {% endif %}
                     </td>
                  </tr>
               {% empty %}
                  <tr><td colspan="5" align="center">Aucune prestation saisie</td></tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
   <div class="row">
      <div class="col-4">
         <div class="card border border-success mb-2">
            <div class="card-header bg-success-3">
               RÉCAPITULATIF pour {{ current_date.month|month_name }} {{ current_date.year }}
            </div>
            <div class="card-body">
               <table class="table table-sm table-borderless">
                  <tr>
                      <th>Total prestations familiales</th>
                      <td align="right">{{ total_fam|strip_seconds|default:'00:00' }}</td>
                  </tr>
                  <tr>
                      <th>Total prestations générales</th>
                      <td align="right">{{ total_gen|strip_seconds|default:'00:00' }}</td>
                  </tr>
                  <tr class="border-top">
                     <th>Total</th>
                     <th class="text-end">{{ total_fam|add:total_gen|strip_seconds|default:'00:00' }}</th>
                   </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
