{% extends "cipe/base_cipe.html" %}
{% load my_tags %}

{% block extrastyle %}
{{ block.super }}
<style>
    summary { font-weight: bold; }
    label { display: block; margin-bottom: 0; }
    .checkbox > label { display: inline-block; }
    #id_poids, #id_taille { width: 5em; }
    #id_faits_marquants { height: 2.5em; }
    #id_faits_courants { height: 5em; }
    #id_themes { column-count: 2; }
    #id_themes label { display: inline; font-weight: normal; }
    input.aborde + label { color: #777; background-color: #eee; }
    @media (max-width: 780px) { #id_themes { column-count: 1; } }
</style>
{% endblock %}

{% block extra_javascript %}
{{ block.super }}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const delIcons = document.querySelectorAll('.delete-file');
    delIcons.forEach(icn => {
        icn.addEventListener('click', (ev) => {
            const rep = confirm("Voulez-vous vraiment supprimer ce fichier ?");
            if (!rep) return;
            const fileLine = ev.target.closest('.fichier_line');
            let formData = new FormData();
            formData.append('filename', fileLine.querySelector('a.filename').textContent);
            formData.append('csrfmiddlewaretoken', document.querySelector('[name=csrfmiddlewaretoken]').value);
            const delURL = ev.target.dataset.delurl;
            fetch(delURL, {method: 'POST', body: formData}).then(resp => resp.json()).then(data => {
                if (data.result == 'OK') fileLine.remove();
            });
        });
    });
    typeConsultChanged();
    document.querySelector('#id_type_consult').addEventListener('change', typeConsultChanged);
});
</script>
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3 justify-content-between">
        <div class="col">
            <p id='nom_famille' class="lead">
                Famille {{ famille.nom }} - {{ famille.adresse  }}
                {% if enfant %}<span class="enfant">{{ enfant }} ({{ enfant.age_str }}{{ enfant.suivienfant.age_premat }})</span>{% endif %}
            </p>
        </div>
    </div>

    {% if form.non_field_errors %}
    <div class="row">
        <div class="col">
        {% for err in form.non_field_errors %}
            <p class="alert alert-danger">{{ err }}</p>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row mb-5 justify-content-center">
        <div class="col">
            <form action="#" name="PrestationForm" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-4">
                        {{ form.type_consult.label_tag }}{{ form.type_consult.errors }}{{ form.type_consult }}
                        <div id="adomicile_prestation">
                            {{ form.a_domicile_prest.label_tag }}{{ form.a_domicile_prest.errors }}{{ form.a_domicile_prest }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{ form.date.label_tag }}{{ form.date.errors }}{{ form.date }}
                    </div>
                    <div class="col-md-4">
                        {{ form.duree.label_tag }}{{ form.duree.errors }}{{ form.duree }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        {{ form.lieu.label_tag }}{{ form.lieu.errors }}{{ form.lieu }}
                    </div>
                    <div class="col-md-4">
                        {{ form.poids.label_tag }}{{ form.poids.errors }}{{ form.poids }}
                    </div>
                    <div class="col-md-4">
                        {{ form.taille.label_tag }}{{ form.taille.errors }}{{ form.taille }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.faits_courants.label_tag }}{{ form.faits_courants.errors }}{{ form.faits_courants }}
                    </div>
                    <div class="col-md-6">
                        {{ form.faits_marquants.label_tag }}{{ form.faits_marquants.errors }}
                        <span class="marquants">{{ form.faits_marquants }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox col-md-6">
                        <div class="form-check">
                            {{ form.sans_rendezvous.errors }}{{ form.sans_rendezvous }}
                            {{ form.sans_rendezvous.label_tag|strip_colon }}
                        </div>
                        <div class="form-check">
                            {{ form.manque.errors }}{{ form.manque }}
                            {{ form.manque.label_tag|strip_colon }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ form.fichiers.label_tag }}
                        {% for fichier in form.instance.fichiers %}
                            <div class="fichier_line">
                                {{ fichier|as_icon }} <a href="{{ fichier.url }}" class="filename">{{ fichier.name }}</a>
                                <span class="hoverimage">
                                    <img class="delete-file" src="{% static 'admin/img/icon-deletelink.svg' %}"
                                         data-delurl="{% url 'cipe:prestation-deletefile' form.instance.pk %}"
                                         title="Supprimer ce fichier">
                                </span>
                            </div>
                       {% endfor %}
                       {{ form.fichiers.errors }}{{ form.fichiers }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <details>
                            <summary>Thèmes de santé abordés</summary>
                            {{ form.themes.errors }}{{ form.themes }}
                            <p><i>Entre parenthèses les dates ou le sujet a déjà été abordé</i></p>
                        </details>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.referer }}
                        {% include "actions.html" %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
