{% extends "cipe/base_cipe.html" %}
{% load my_tags %}

{% block extra_javascript %}
    {{ block.super }}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#marquants_only').addEventListener('click', togglePrestationFacts);
    });
    </script>
{% endblock %}

{% block boutons_droite %}
    {% if famille %}
        {% include './famille_boutons.html' with active='prestation' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mt-3 mb-3">
        <div class="col">
            Famille {{ famille.nom }} - {{ famille.adresse }} -
            <span class="enfant">{{ enfant }} ({% if enfant.date_naissance is None %}<span class="missing_field">date de naissance manquante</span>{% else %}{{ enfant.age_str }}{{ suivi|age_premat }}{% endif %})</span>
        </div>
        <div class="col text-end">
            <a class="btn btn-outline-primary btn-sm mb-2" href="{% url 'cipe:enfant-percentile-taille' enfant.pk %}">
                <img src="{% static 'img/stat.png' %}" width="28"> taille
            </a>
            <a class="btn btn-outline-primary btn-sm mb-2" href="{% url 'cipe:enfant-percentile-poids' enfant.pk %}">
                <img src="{% static 'img/stat.png' %}" width="28"> poids
            </a>
            <a class="btn btn-primary btn-sm mb-2" href="{% url 'cipe:prestation-enfant-add' famille.pk enfant.pk %}">
                Ajouter
            </a>
        </div>
    </div>
    <div class="row">
        {% if suivi.pediatre %}
        <div class="col">
            Pédiatre: {{ suivi.pediatre.nom_prenom }}
        </div>
        {% endif %}
        <div class="col">
            <div class="text-end">
                <input id="marquants_only" type="checkbox" {% if marquants %}checked{% endif %}>
                <label for="marquants_only">Uniquement les faits marquants</label>
            </div>
        </div>
    </div>
    {% for rzv in rendez_vous %}
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <b>Prochain rendez-vous:</b> {{ rzv.date_hours }} ({{ rzv.title }})
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered">
                <thead class="table-light">
                    <tr>
                        <th width="7%">Date</th>
                        <th width="7%">Durée</th>
                        <th width="7%">Lieu</th>
                        <th>Contenu</th>
                        <th>Poids (kg)</th>
                        <th>Taille (cm)</th>
                        <th width="10%">Auteur</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for prestation in object_list %}
                        <tr>
                            <td>{{ prestation.date|date:"d.m.Y" }}<br>
                                <small><i>
                                    {{ enfant|age_a:prestation.date }}{{ suivi|age_premat:prestation.date }}
                                </i></small>
                            </td>
                            <td>
                                {{ prestation.duree|strip_seconds }}
                                {% if not prestation.enfant %}
                                    <img src="{% static 'img/reseau.png' %}" data-bs-toggle="tooltip" title="Réseau famille" width="24">
                                {% endif %}
                            </td>
                            <td>{{ prestation.lieu_or_domicile }}</td>
                            <td>
                                {% if prestation.type_consult == 'cons_som' %}<i>[Consultation sommeil]</i>{% endif %}
                                <div class="marquants">{{ prestation.faits_marquants }}</div>
                                {% if not marquants %}
                                <div class="courants">{{ prestation.faits_courants|truncate_html_with_more:40 }}</div>
                                {% endif %}
                                {% for fichier in prestation.fichiers %}{{ fichier|as_icon }}{% endfor %}
                            </td>
                            <td>{{ prestation.poids|default_if_none:'' }}</td>
                            <td>{{ prestation.taille|floatformat }}</td>
                            <td>{{ prestation.auteur|sigle_personne }}</td>
                            <td align="center">
                                <div>
                                {% with fam_pk=famille.pk|default:0 %}
                                    {% if prestation|can_edit:user %}
                                        <a href="{% url 'cipe:prestation-edit' fam_pk prestation.pk %}">
                                            <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                        </a>
                                    {% endif %}
                                    {% if prestation|can_delete:user %}
                                    <span class="hoverimage">
                                       <form class="inline" action="{% url 'cipe:prestation-delete' fam_pk prestation.pk %}" method="post">
                                       {% csrf_token %}
                                       <button type="submit" class="btn btn-mini confirm delete-button"
                                           title="Supprimer cette prestation"
                                           data-confirm="Voulez-vous vraiment supprimer cette prestation ?">
                                           <img src="{% static 'admin/img/icon-deletelink.svg' %}">
                                       </button>
                                       </form>
                                    </span>
                                    {% endif %}
                                {% endwith %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="5" align="center">Aucune prestation saisie</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
