{% extends "cipe/base_cipe.html" %}

{% block extrastyle %}
<style>
    td.domicile_prest { padding-left: 1.5em; font-style: italic; }
</style>
{% endblock %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "cipe/stat-tabs.html" with active="localites" %}

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>
                        {% for month in months %}<th>{{ month }}</th>{% endfor %}
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:3 }}" class="app_line">
                        <p class="lead">Nbre de familles par localité</p></td>
                    </tr>
                    {% for localite, stats in localites.items %}
                    {% if localite != 'total' %}
                    <tr>
                        <td>{{ localite }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td>Totaux</td>
                        {% for month in months %}
                            <td class="num">{{ localites.total|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ localites.total.total }}</td>
                    </tr>

                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
