{% extends "cipe/base_cipe.html" %}

{% block extrastyle %}
<style>
    td.domicile_prest { padding-left: 1.5em; font-style: italic; }
</style>
{% endblock %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "cipe/stat-tabs.html" with active="interv" %}

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th colspan="2"></th>
                        {% for month in months %}<th>{{ month }}</th>{% endfor %}
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:3 }}" class="app_line">
                        <p class="lead">Consultations</p></td>
                    </tr>
                    {% for auteur_pk, stats in interv_stats_consult.items %}
                    <tr>
                        <td>{{ stats.nom }}</td><td><em>Nbre</em></td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:'nb'|default_if_none:0 }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total.nb }}</td>
                    </tr>
                    <tr>
                        <td></td><td><em>Durée</em></td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:'duree'|format_duree }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total.duree|format_duree }}</td>
                    </tr>
                    {% endfor %}

                    <tr><td colspan="{{ months|length|add:3 }}" class="app_line">
                        <p class="lead">Prestations et réseaux familiaux</p></td>
                    </tr>
                    {% for auteur_pk, stats in interv_stats_autre.items %}
                    <tr>
                        <td>{{ stats.nom }}</td><td><em>Nbre</em></td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:'nb'|default_if_none:0 }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total.nb }}</td>
                    </tr>
                    <tr>
                        <td></td><td><em>Durée</em></td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:'duree'|format_duree }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total.duree|format_duree }}</td>
                    </tr>
                    {% endfor %}

                    <tr><td colspan="{{ months|length|add:3 }}" class="app_line">
                        <p class="lead">Prestations générales</p></td>
                    </tr>
                    {% for auteur_pk, stats in prest_gen_stats.items %}
                    <tr>
                        <td>{{ stats.nom }}</td><td><em>Nbre</em></td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:'nb'|default_if_none:0 }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total.nb }}</td>
                    </tr>
                    <tr>
                        <td></td><td><em>Durée</em></td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:'duree'|format_duree }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total.duree|format_duree }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
