{% extends "cipe/base_cipe.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "cipe/stat-tabs.html" with active="autre" %}

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>{% for month in months %}<th>{{ month }}</th>{% endfor %}<th>Total</th></tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <p class="lead">Nombre de prestations générales</p></td>
                    </tr>
                    {% for key in num_keys %}
                    <tr>
                        <td>{{ stat_items|get_item:key }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:key|default_if_none:0 }}</td>
                        {% endfor %}
                        <td class="num">{{ totals|get_item:key }}</td>
                    </tr>
                    {% endfor %}

                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <p class="lead">Nbre de participants aux prestations générales</p></td>
                    </tr>
                    {% for key in part_keys %}
                    <tr>
                        <td>{{ stat_items|get_item:key }}{% if key in part_keys_enf %} - Parents{% endif %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:key|default_if_none:0 }}</td>
                        {% endfor %}
                        <td class="num">{{ totals|get_item:key }}</td>
                    </tr>
                    {% if key in part_keys_enf %}
                        {% with enf_key=part_keys_enf|get_item:key %}
                        <tr>
                            <td>{{ stat_items|get_item:key }} - Enfants</td>
                            {% for month in months %}
                                <td class="num">{{ stats|get_item:month|get_item:enf_key|default_if_none:0 }}</td>
                            {% endfor %}
                            <td class="num">{{ totals|get_item:enf_key }}</td>
                        </tr>
                        {% endwith %}
                    {% endif %}
                    {% endfor %}

                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <p class="lead">Durée des prestations générales</p></td>
                    </tr>
                    {% for key in duree_keys %}
                    <tr>
                        <td>{{ stat_items|get_item:key }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:month|get_item:key|format_duree }}</td>
                        {% endfor %}
                        <td class="num">{{ totals|get_item:key|format_duree }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
