{% extends "cipe/base_cipe.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
    td.domicile_prest { padding-left: 1.5em; font-style: italic; }
</style>
{% endblock %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "cipe/stat-tabs.html" with active="type" %}

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>{% for month in months %}<th>{{ month }}</th>{% endfor %}<th>Total</th></tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <p class="lead">Types de consultations</p></td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.num_rzv }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.num_rzv|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.num_rzv.total }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.num_no_rzv }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.num_no_rzv|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.num_no_rzv.total }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.manque }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.manque|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.manque.total }}</td>
                    </tr>
                    <tr class="new_cat">
                        <td>{{ stat_items.num_centre }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.num_centre|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.num_centre.total }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.par_tel }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.par_tel|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.par_tel.total }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.par_courriel }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.par_courriel|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.par_courriel.total }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.sommeil }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.sommeil|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.sommeil.total }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.domicile }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.domicile|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.domicile.total }}</td>
                    </tr>
                    {% for prest_key, prest_label in prest_dict.items %}
                    <tr>
                        <td class="domicile_prest">- {{ prest_label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:prest_key|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats|get_item:prest_key|get_item:'total' }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="new_cat">
                        <td>{{ stat_items.reseau_famille }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.reseau_famille|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.reseau_famille.total }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.prest_famille }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.prest_famille|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.prest_famille.total }}</td>
                    </tr>
                    <tr class="new_cat">
                        <td>Total</td>
                        {% for month in months %}
                            <td class="num">{{ stats.num_prest|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.num_prest.total }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
