{% extends "cipe/base_cipe.html" %}

{% block extrastyle %}
<style>
    td.domicile_prest { padding-left: 1.5em; font-style: italic; }
</style>
{% endblock %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "cipe/stat-tabs.html" with active="familles" %}

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>{% for month in months %}<th>{{ month }}</th>{% endfor %}<th>Total</th></tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <p class="lead">Nombre de familles et enfants</p></td>
                    </tr>
                    <tr>
                        <td>Nombre de familles suivies</td>
                        {% for month in months %}
                            <td class="num">{{ nb_fam_month|get_item:month|get_item:'total'|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ nb_fam_tot }}</td>
                    </tr>
                    <tr>
                        <td>Familles à besoins particuliers</td>
                        {% for month in months %}
                            <td class="num">{{ nb_fam_month|get_item:month|get_item:'besoins'|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ nb_fam_besoins }}</td>
                    </tr>
                    {% for key, label in stat_items.items %}
                    <tr>
                        <td>{{ label }}</td>
                        {% for month in months %}
                            <td class="num">{{ enfants|get_item:key|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ enfants.totals|get_item:key }}</td>
                    </tr>
                    {% endfor %}

                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <p class="lead">Familles et enfants - Nombre de consultations</p></td>
                    </tr>
                    {% for key, label in stat_items.items %}
                    <tr>
                        <td>{{ label }}</td>
                        {% for month in months %}
                            <td class="num">{{ consults|get_item:key|get_item:month }}</td>
                        {% endfor %}
                        <td class="num">{{ consults.totals|get_item:key }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
