{% extends "cipe/base_cipe.html" %}

{% block extrastyle %}
<style>
#id_themes label { font-weight: normal; }
</style>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Document utile</p></div>
        <div class="col text-end"><p class="lead">{{ view.action }}</p></div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-8">
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                <table class="table table-sm">
                  {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
