{% extends "cipe/base_cipe.html" %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Thème de santé</p></div>
        <div class="col text-end"><p class="lead">{{ view.action }}</p></div>
    </div>

    {% if read_only %}
    <h2>{{ form.instance.nom }}</h2>
    {% else %}
    <div class="row mb-3 justify-content-center">
        <div class="col-8">
            <form action="." method="post">{% csrf_token %}
                <table class="table table-sm">
                  {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
    {% endif %}

    <div class="row mb-3 justify-content-center">
        <div class="col-8">
            <ul class="nobullets">
            {% for doc in document_list %}
            <li class="py-1">{{ doc.fichier|as_icon }} {{ doc.titre }}</li>
            {% empty %}
            <li><em>Aucun document lié pour le moment.</em></li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
