{{ wizard.management_form }}
<table class="mb-3">
  {% for field in form.visible_fields %}
  <tr><th>{{ field.label_tag }}</th>
      <td>{{ field.errors }}{{ field }}
      {% if field.name == 'password' %} <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>{% endif %}
      </td>
  </tr>
  {% endfor %}
</table>
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
